#app {
    display: flex;
    height: 100dvh;
    width: 100dvw;

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        border-radius: 8px;
        border: 1px solid var(--border);

        .app-content {
            flex: 1;
        }
    }
}

button {
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}

::selection {
    background-color: var(--primary);
    color: #fff;
}
