.network-selection {
    span[data-state="checked"] {
        display: none !important;
    }

    .item {
        &:not(:last-child) {
            margin-bottom: 4px;
        }

        &[aria-checked="true"] {
            background-color: var(--primary-10) !important;
            color: #000;

            .image-container {
                background-color: transparent !important;
            }
        }

        &:not([aria-checked="true"]) {
            cursor: pointer;
        }

        &:hover {
            &,
            .image-container {
                background-color: var(--border);
            }
        }
    }
}